.add-user {
  padding-top: 50px;
}

.add-user__wrap {
  @include wrapper-desktop();
  margin-bottom: 170px;
}

.add-user__title {
  font-size: 64px;
  line-height: 1;
  font-weight: 500;
  color: $main-dark-color;
  margin-bottom: 40px;
}

.add-user__container {
  display: grid;
  grid-template-columns: 1fr 175px;
  column-gap: 20px;
}

.add-user__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, min-content);
  column-gap: 20px;
}

.add-user__input {
  width: 100%;
  height: 60px;
  font-size: 16px;
  font-family: $font-first;
  padding: 22px;
  color: $text-color;
  border-radius: 20px;
  margin-bottom: 20px;
  line-height: 1;
  border: 1px solid $border-color;

  &:focus {
    outline: 1px solid $text-color;
  }

  &--surname {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &--name {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &--patronymic {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  &--submit {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  &--tab-number {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &--password {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1;
    color: $placeholder-color;
  }
}

.add-user__city--city {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  margin-bottom: 20px;
}

.add-user__city--role {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.add-user__city--post {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.add-user__submit {
  margin-bottom: 0;
  background-color: $main-dark-color;
  transition: all 0.5s ease;

  &:hover {
    background-color: $button-hover;
  }
}

.add-user__standart-pass {
  padding: 30px 20px;
  background-color: $main-dark-color;
  width: 175px;
  height: 300px;
  color: $basic-white;
  border-radius: 20px;

  p {
    line-height: 1.4;
    margin-bottom: 20px;
  }

  span {
    display: block;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 20px;
  }
}
