.button {
  padding-top: 21px;
  padding-bottom: 21px;
  margin-bottom: 20px;
  font-family: $font-first;
  font-size: 18px;
  color: $basic-white;
  background-color: $form-button-color;
  width: 100%;
  border-radius: 20px;
  line-height: 1;
}
