.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $footer-color;
  color: $basic-white;
}

.footer__wrap {
  @include wrapper-desktop();
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 109px;
  height: 66px;
}

.footer__menu-item {
  line-height: 1;

  &:hover {
    .footer__menu-link {
      opacity: 1;

    }
  }
}

.footer__menu-link {
  transition: all 0.5s ease;
}

.footer__menu-link,
.footer__policy {
  color: $basic-white;
  line-height: 1;
  opacity: 0.6;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 158px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;

  span {
    line-height: 1;

    &:first-of-type {
      margin-bottom: 10px;
    }
  }

  a {
    color: $basic-white;
    opacity: 0.6;
    transition: all 0.5s ease;

    &:hover {
      opacity: 1;
    }
  }
}

.footer__tech-info {
  display: flex;
  justify-content: space-between;
}

.footer__policy {
  position: relative;
  transition: all 0.5s ease;

  &:hover {
    opacity: 1;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 1px;
    background-color: $basic-white;
  }
}

.footer__prasaim {
  line-height: 1;

  span {
    opacity: 0.6;
  }

  a {
    color: $basic-white;
    opacity: 0.6;
    transition: all 0.5s ease;

    &:hover {
      opacity: 1;
    }
  }
}

.footer__logo {
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.6;
  }
}

use.footer__svg {
  fill: $basic-white;
}
