.page {
  height: 100%;
  overflow-x: hidden;
}

.page__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: $font-first;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
  background-color: $background-color;
  overflow-x: hidden;

  min-height: 100%;
}
