.update-profile {
  padding-top: 50px;
}

.update-profile__wrap {
  @include wrapper-desktop();
  margin-bottom: 100px;
}

.update-profile__title {
  font-size: 85px;
  line-height: 1;
  font-weight: 500;
  color: $main-dark-color;
  margin-bottom: 40px;
}

.update-profile__inputs {
  width: 482px;
}

.update-profile__form {
  display: flex;
  justify-content: space-between;
}

.update-profile__input {
  width: 100%;
  height: 60px;
  font-size: 16px;
  padding: 22px;
  color: $text-color;
  border-radius: 20px;
  margin-bottom: 20px;
  line-height: 1;
  border: 1px solid $border-color;

  &:focus {
    outline: 1px solid $text-color;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1;
    color: $placeholder-color;
  }
}

.update-profile__file-name {
  margin-bottom: 10px;
  font-size: 14px;
}

.update-profile__submit {
  background-color: $main-dark-color;
  transition: all 0.5s ease;

  &:hover {
    background-color: $button-hover;
  }
}

.update-profile__update-img {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 482px;
  height: 277px;
}

.update-profile__update-img-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-size: 14px;
    font-weight: 500;
  }
}

.update-profile__img-block {
  flex-shrink: 0;
  width: 277px;
  height: 277px;
  border-radius: 20px;
  overflow: hidden;
}

.update-profile__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.update-profile__button-choose,
.update-profile__button-delete {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 100%;
  border-radius: 20px;
  height: 50px;
}

.update-profile__button-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-dark-color;
  color: $basic-white;
  width: 100%;
  transition: all 0.5s ease;

  &:hover {
    background-color: $button-hover;
  }
}

.update-profile__delete-avatar {
  position: relative;
  display: block;
  padding-left: 30px;
  margin-top: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid $text-color;
    border-radius: 5px;
  }
}

.update-profile__checkbox:has(.update-profile__button-checkbox:checked) {
  .update-profile__delete-avatar {
    &::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 5px;
      width: 13px;
      height: 9px;
      transform: rotate(-45deg);
      border-left: 2px solid $text-color;
      border-bottom: 2px solid $text-color;
    }
  }
}

.update-profile__back {
  position: relative;
  display: flex;
  transition: all 0.5s ease;
  overflow: hidden;
  justify-content: center;
  padding-top: 21px;
  padding-bottom: 21px;
  font-family: $font-first;
  font-size: 18px;
  color: $text-color;
  font-weight: 400;
  width: 100%;
  border: 1px solid $text-color;
  border-radius: 20px;
  line-height: 1;

  &:hover {
    color: $basic-white;

    &::before {
      left: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: calc(-100% - 2px);
    background-color: $main-dark-color;
    border-radius: 15px;
    z-index: -1;
    transition: all 0.5s ease;
  }
}
