.users-finished-test__wrap {
  @include wrapper-desktop();
  margin-top: 100px;
  margin-bottom: 100px;
}

.users-finished-test__title {
  margin-bottom: 40px;
  color: $main-dark-color;
}

.users-finished-test__menu:first-of-type {
  margin-right: 10px;
}

.users-finished-test__filter {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.users-finished-test__city-select,
.users-finished-test__select,
.users-finished-test__year {
  option[selected] {
    color: $placeholder-color;
  }
}

.users-finished-test__list {
  border-bottom: 1px solid $border-color;
  margin-bottom: 30px;
}

.users-finished-test__item {
  display: grid;
  grid-template-columns: 380px 1fr 175px 175px;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: 1px solid $border-color;
}

.users-finished-test__user-name,
.users-finished-test__program,
.users-finished-test__date,
.users-finished-test__progress {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;
}

.users-finished-test__date {
  color: $text-color;
  opacity: 0.3;
}

.users-finished-test__user-name {
  margin-bottom: 10px;
}

.users-finished-test__user-post,
.users-finished-test__user-number {
  font-weight: 500;
  color: $text-color;
  opacity: 0.3;
}

.users-finished-test__user-number {
  line-height: 1;
}

.users-finished-test__user-post {
  margin-bottom: 10px;
  line-height: 1.4;
}

.users-finished-test__button {
  margin-bottom: 0;
  width: 483px;
  background-color: $main-dark-color;
  transition: all 0.5s ease;

  &:hover {
    background-color: $button-hover;
  }
}
