.user-card {
  padding-top: 50px;
}

.user-card__wrap {
  @include wrapper-desktop();
  margin-bottom: 170px;
}

.user-card__title {
  font-size: 85px;
  font-weight: 500;
  color: $main-dark-color;
  line-height: 1;
  margin-bottom: 40px;
}

.user-card__content {
  display: flex;
  justify-content: space-between;
}

.user-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-card__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  span {
    display: block;
    font-size: 18px;
    color: $text-color;
    opacity: 0.2;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 10px;
  }

  p {
    font-size: 24px;
    line-height: 1;
    font-weight: 500;
  }
}

.user-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  background-color: $main-dark-color;
  width: 483px;
  transition: all 0.5s ease;

  &:hover {
    background-color: $button-hover;
  }
}

.user-card__avatar {
  width: 482px;
  height: 428px;
  border-radius: 20px;
  overflow: hidden;
}

.user-card__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-card__back {
  position: relative;
  display: flex;
  transition: all 0.5s ease;
  overflow: hidden;
  justify-content: center;
  padding-top: 21px;
  padding-bottom: 21px;
  font-family: $font-first;
  font-size: 18px;
  color: $text-color;
  font-weight: 400;
  width: 500px;
  border: 1px solid $text-color;
  border-radius: 20px;
  line-height: 1;

  &:hover {
    color: $basic-white;

    &::before {
      left: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: calc(-100% - 4px);
    background-color: $main-dark-color;
    z-index: -1;
    transition: all 0.5s ease;
  }
}
