.user-progress__wrap {
  @include wrapper-desktop();
  margin-bottom: 100px;
}

.user-progress__title {
  color: $main-dark-color;
  margin-bottom: 40px;
}

.user-progress__list {
  border-bottom: 1px solid $border-color;
  margin-bottom: 30px;
}

.user-progress__item {
  display: grid;
  grid-template-columns: 308px 1fr 200px 175px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: 1px solid $border-color;

  p {
    font-size: 20px;
    font-weight: 500;
  }
}

 .user-progress__item-name {
  margin-right: 30px;
  line-height: 1.2;
 }

.user-progress__button {
  margin-bottom: 0;
  width: 483px;
  background-color: $main-dark-color;
  transition: all 0.5s ease;

  &:hover {
    background-color: $button-hover;
  }
}
