.success {
  color: $color-success;
}

.unsuccess {
  color: $color-unsuccess;
}

.error-message {
  background-color: $error-mesage-color;
}

.message-container {
  padding: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  border-radius: 20px;
  color: $basic-white;
}

.error-block {
  background-color: $color-unsuccess;
}

.success-block {
  background-color: $color-success;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;

  &--none {
    display: none;
  }
}

.remove-elem {
  display: none !important;
}
