// Цвета
$basic-white: #fefefe;
$background-color: #fefefe;
$text-color: #222222;
$main-dark-color: #325573;
$border-color: rgba(50, 85, 115, 0.20);
$form-button-color: #507391;
$footer-color: #141e26;
$placeholder-color: #b2b2b2;
$color-success: #477346;
$color-unsuccess: #d91C0b;
$focus-background-color: #ECF6FF;
$button-form-hover-color: #5A7D9B;
$button-hover: #466987;
$error-mesage-color: #F1E7E7;

// Шрифты
$font-first: "helveticaneuecyr", Arial, sans-serif;

// Экраны устройств
$tablet-width: 768px;
$desktop-width: 1240px;
